.container {
  background: var(--bg-main);
  padding: 2rem 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
  color: var(--text-main);
}

.title {
  font-size: 2.3rem;
  color: var(--text-title);
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--border-soft);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.card {
  position: relative;
  background: var(--bg-surface);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--border-soft);
  box-shadow: var(--shadow-main);
  transition: all 0.25s ease;
  aspect-ratio: 3 / 4 ;
}

.card:hover {
  background: var(--bg-hover);
  border-color: var(--border-hot);
  box-shadow: var(--shadow-main), var(--shadow-accent);
  transform: translateY(-2px);
}

.image {
  object-fit: cover;  
  filter: brightness(0.85);
  object-position: 50% 10%;
}
.card a {
  display: block;
  width: 100%;
  height: 100%;
}

.card h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 1rem 1.25rem;
  font-size: 1.6rem;
  color: var(--text-title);
  background: linear-gradient(
    to top,
    rgba(11, 11, 11, 0.95),
    rgba(11, 11, 11, 0)
  );
  letter-spacing: 1px;
}

.card:hover h2 {
  color: var(--accent-main);
}
@media (min-width: 650px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
  }
}
@media (min-width: 1100px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
