.header {
  min-height: 50px;
}
.title {
  text-align: center;
}
.containerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.containerRpg {
  display: flex;
  flex-direction: column;
  div {
    text-align: center;
    p {
      width: 50%;
    }
    h3 {
      font-family: "Cinzel", serif;
    }
  }
}
