:root {
  --bg-main: #0b0b0b;
  --bg-surface: #151515;
  --bg-hover: #1f1f1f;
  --text-title: #f5e6c8;
  --text-main: #cfc7b8;
  --text-muted: #9b948a;
  --text-alternativ: #000000;
  --accent-main: #ff7a18;
  --accent-strong: #d65a00;
  --border-hot: rgba(255, 90, 0, 0.25);
  --border-soft: rgba(255, 255, 255, 0.08);
  --shadow-main: 0 4px 16px rgba(0, 0, 0, 0.8);
  --shadow-accent: 0 0 8px rgba(255, 90, 0, 0.35);
}

@font-face {
  font-family: "Cinzel";
  src: url("/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  background: var(--bg-main);
  color: var(--text-main);
}
p {
  color: #cfc7b8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
