
.main {
  background-image: url("/background.png");
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}
.title {
  text-align: center;
}
.start {
  border: 2px solid black;
  background-color: grey;
  text-align: center;
}
