
.activeCharacter {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--text-main);
  font-size: 1rem;
}

.activeCharacter strong {
  color: var(--text-title);
}


.container {
  padding: 10px;
}

