.container {
  display: grid;
  gap: 24px;
  margin-top: 20px;
}
.title {
  text-align: center;
  font-family: "Cinzel", serif;
  color: var(--text-title);
}
.container {
  h3 {
    text-align: center;
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
  }
}
.description {
  text-align: center;
}

.library,
.map,
.races {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  p {
    font-size: 1.4rem;
    font-family: "Cinzel", serif;
  }
}
